In [12]:
import pandas as pd
import numpy as np

GroupA = pd.DataFrame({
    'A': [2, 3, 5, 2, 3],
    'B': ['5', np.nan, '2', '3', '6'],
    'C': [8, 7, 50, 8, 2],
    'key': [3, 4, 5, 2, 5]
})

GroupB = pd.DataFrame({'A': [3, 4, 5], 'B': [3, 4, 5], 'C': [3, 4, 5]})

print(GroupA)
print(GroupB)

GroupA = GroupA.combine_first(GroupB)
print(GroupA)
GroupA.rename(columns={'key': 'D'})

   A    B   C  key
0  2    5   8    3
1  3  NaN   7    4
2  5    2  50    5
3  2    3   8    2
4  3    6   2    5
   A  B  C
0  3  3  3
1  4  4  4
2  5  5  5
   A    B   C  key
0  2    5   8    3
1  3  4.0   7    4
2  5    2  50    5
3  2    3   8    2
4  3    6   2    5

   A    B   C  D
0  2    5   8  3
1  3  4.0   7  4
2  5    2  50  5
3  2    3   8  2
4  3    6   2  5